# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

bin/
dist/

completions/
manpages/
# Ignore local node_modules directory within assets/logos
/assets/logos/node_modules
# Ignore local node_modules directory within site
/site/node_modules

# Ignore local package manager files within assets/logos
/assets/logos/package.json
/assets/logos/package-lock.json
/assets/cheatsheet/.task/
*.duckdb
geol-build/
.docusaurus/
build/
rapport.pdf
# Drafts folder (ignored)
Brouillon/
