/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* Use a gradient background image from static/img; make it cover the block */
  background-image: url('/img/degrade.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    /* on small screens keep cover to avoid large empty areas */
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
